<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next & Prev</title>
    <link rel="stylesheet" href="/Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="/Components/Next & Prev Buttons/Next Prev Buttons Styles.css">
</head>
<body>
    <div class="view-controller">
        <button class="next-Question">
            ذخیره
       </button>
       <button class="prev-Question">
            انصراف
       </button>
    </div>
    
</body>
</html>