.view-controller
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 90%;
    margin: 10px auto 20px auto;
}
.prev-Question
{
    border: 2px solid var(--brand-color);
    color: var(--brand-color);
    background-color: var(--theme-white);
}

.next-Question , .prev-Question
{
    font-size: 1.0rem;
    padding: 6px;
    width: 25%;
    border-radius: 10px;
    font-family: 'IRANSANS';
    margin-left: 10px;
    cursor: pointer;
}
.next-Question 
{
    background-color: var(--brand-color);
    border: none;
    color: var(--theme-white);
}