<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Item</title>
    <link rel="stylesheet" href="/Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="/Components/Design Form Page/Question Item/Question Item Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="QuestionsBox">
        <div class="Questionitem Q-Parag-Anw">
            <div class="QuestionLabel">
                1
            </div>
            <div class="QuestionitemText">
                <p>اقدامات امیر کبیر را به طور خلاصه توضیح دهید</p>
            </div>
            <div class="QuestionTools">
                <button class="EditButton">
                    <i class="fa fa-copy"></i>
                </button>
                <button class="DeleteButton">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
    
          </div>

          <div class="Question-Nested">
            <div class="Questionitem">
                <div class="QuestionLabel">
                    3
                </div>
                <div class="QuestionitemText">
                    <p>امیرکبیر چند سال عمر کرد؟</p>
                </div>
                <div class="QuestionTools">
                    <button class="EditButton">
                        <i class="fa fa-copy"></i>
                    </button>
                    <button class="DeleteButton">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="Question-Nested-items">
               <div class="Question-Nested-item">
                <div class="QuestionLabel">
                    3-1
                </div>
                <div class="QuestionitemText">
                    <p>امیرکبیر چند سال عمر کرد؟</p>
                </div>
                <div class="QuestionTools">
                    <button class="EditButton">
                        <i class="fa fa-copy"></i>
                    </button>
                    <button class="DeleteButton">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
               </div>
               <div class="Question-Nested-item">
                <div class="QuestionLabel">
                    3-2
                </div>
                <div class="QuestionitemText">
                    <p>محل تولد او کجا بود؟</p>
                </div>
                <div class="QuestionTools">
                    <button class="EditButton">
                        <i class="fa fa-copy"></i>
                    </button>
                    <button class="DeleteButton">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
               </div>
            </div>
           
          </div>  
    </div>
    
</body>
</html>