<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistive Button</title>
    <link rel="stylesheet" href="/Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="/Assets/Styles/AssistiveButton.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="AssistiveButton">
        <div class="AssistiveItems">
                <button class="AddQuestion">
                    <i class="fa fa-plus-circle"></i>
                </button>
                <button class="Setting">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
                <button class="Send">
                    <i class='fa fa-paper-plane'></i>
                </button>
        </div>
        <div class="AssistiveToggle">
            <button class="AssistiveToggleButton"> + </button>
        </div>
       </div>
</body>
</html>