<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResponeTiming</title>
    <link rel="stylesheet" href="/Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="/Components/FormSettings/ResponeTiming/ResponeTimingStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="ResponeTiming">
        <div class="ResponseAutoSet Switch-Container">
            <p>تنظیم مدت زمان پاسخ دهی</p>
        <label class="Switch-toggle">
            <input type="checkbox">
            <span class="slider-button"</span>
        </label>
        </div>
        <div class="ResponePicker">
            <div class="RhourPicker">
                <label for="">
                    ساعت
                </label>
                <input type="number">
            </div>
            <div class="RminutePicker">
                <label for="">
                    دقیقه
                </label>
                <input type="number">
            </div>
            <div class="RsecondPicker">
                <label for="">ثانیه</label>
                <input type="number">
            </div>
        </div>
    </div>
</body>
</html>