<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./drop_down.css">
    <link rel="stylesheet" href="../../Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../../Assets/Styles/QdesignCommonStyles.css">
    <title>Drop Down</title>
</head>
<body>
    <div class="QuestionContainer drop_down">
        <div class="Question-Title">
            <label>2 :</label>
            <p></p>      
        </div>
        <div class="description_block">
            <p></p>
        </div>
        <div class="preview_file_box">
            <img class="preview_image">
            <video class="preview_video" controls>
            </video>
        </div>
        <div class="answer_block">
            <div class="answer_block_slider">
                <div class="slider_toggle">
                    <button class="slider_toggle_button">
                        <i class="	fa fa-angle-down"></i>
                    </button>
                </div>
                <div class="selection">
                    <div class="selection__box">
                          <span class="selection__item" id="select_item_1">
                            <input class="select_item_input" type="radio" name="slide_option" id="select_item_input_1">
                            <label for="select_item_input_1">گزینه 1</label>
                          </span>
                          <span class="selection__item" id="select_item_2">
                            <input class="select_item_input" type="radio" name="slide_option" id="select_item_input_2">
                            <label for="select_item_input_2">گزینه 2</label>
                          </span>
                          <span class="selection__item" id="select_item3">
                            <input class="select_item_input" type="radio" name="slide_option" id="select_item_input_3">
                            <label for="select_item_input_3">گزینه 3</label>
                          </span>
                    </div>
             </div>
            </div>
            
        </div>
     </div>
     <!-- <script src="./drop_down_script.js" type="module"></script> -->
</body>
</html>