<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./manyOption.css">
    <link rel="stylesheet" href="../../Assets/Styles/DefaultStyles.css">
</head>
<body dir="rtl">
      <main class="question__container">
        <section class="justify__question">
            <div class="question__row">
                <span class="question__style">1</span>
                <span class="question__style">-</span>
                <span class="question__style">اقدامات امیر کبیر را بنویسید</span>
            </div>
            <div class="ansswer__row">
                <span class="ansswer__text">پاسخ صحیح را انتخاب کنید</span>
            </div>
            <div class="option__container">
                <div class="single__option">  
                    <input id="option1"  type="checkbox" value="" class="input__checkbox">
                    <label for="option1" class="input__lable">اقدام یک</label>
                </div>
                <div class="single__option">  
                    <input id="option2"  type="checkbox" value="" class="input__checkbox">
                    <label for="option2" class="input__lable">اقدام یک</label>
                </div>
                <div class="single__option">  
                    <input id="option3"  type="checkbox" value="" class="input__checkbox">
                    <label for="option3" class="input__lable">اقدام یک</label>
                </div>
                <div class="single__option">  
                    <input id="option4"  type="checkbox" value="" class="input__checkbox">
                    <label for="option4" class="input__lable">اقدام یک</label>
                </div>
            </div>
            <div class="button__container">
                <button class="cansel">انصراف</button>
                <button class="confirm">تایید</button>
            </div>
        </section>
      </main>
</body>
</html>