<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./questionBox.css">
    <link rel="stylesheet" href="../../Assets/Styles/DefaultStyles.css">
</head>
<body dir="rtl">
      <main class="question__container">
        <section class="justify__question">
            <div class="question__row">
                <span class="question__style">1</span>
                <span class="question__style">-</span>
                <span class="question__style">اقدامات امیر کبیر را بنویسید</span>
            </div>
            <div class="ansswer__row">
                <span class="ansswer__text">پاسخ به صورت متن باشد</span>
            </div>
            <div class="question__row">
                <textarea id="w3review" name="w3review" rows="7" cols="50" placeholder="لطفا پاسخ خود را وارد کنید"></textarea> 
            </div>
            <div class="button__container">
                <button class="cansel">انصراف</button>
                <button class="confirm">تایید</button>
            </div>
        </section>
      </main>
</body>
</html>