
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./rangeSelect.css">
    <link rel="stylesheet" href="../../Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body dir="rtl">
      <!-- <div class="question__container"> -->
        <section class="justify__question">
            <div class="question__row">
                <span class="question__style">1</span>
                <span class="question__style">-</span>
                <span class="question__style">امیرکبیر چند سال عمر کرد؟</span>
            </div>
            <div class="ansswer__row">
                <span class="ansswer__text">از نوشتن جواب اضافی پرهیز کنید</span>
            </div>
            <div class="textArea__container">
                <div class="range__select">
                    <span class="range__number">1</span>
                    <span class="range__number">2</span>
                    <span class="range__number">3</span>
                    <span class="range__number">4</span>
                    <span class="range__number">5</span>
                    <span class="range__number">6</span>
                    <span class="range__number">7</span>
                </div>
            </div>
        </section>
      <!-- </div> -->
      <script src="./rangeSelect.js"></script>
</body>
</html>