
.question__row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.1rem;
}
.textArea__container , .number_answer_box_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.1rem;
    width: 90%;
    margin: 0.8rem auto 0 auto;
}
.ansswer__row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-right: 1rem;
}
.question__style{
    font-size: 15px;
    font-family: IRANSans;
    font-weight: 600;
    color: var(--brand-color);
}


.action__input:focus{
  background-color: var(--input-title-bg-color);
}
.ansswer__text{
    font-size: 15px;
    font-family: IRANSans;
    font-weight: 100;
    color: var(--brand-color);
}