<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>درجه بندی</title>
    <link rel="stylesheet" href="/Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Components/Degree Question/Degree Question Style.css">
</head>
<body>
    <div class="QuestionContainer">
        <div class="Question-Title">
            <label>2 :</label>
            <p>اقدامات امیر کبیر را به طور خلاصه توضیح دهید</p>
        </div>
        <div class="description_block">
            <p>نوشتن چهار مورد کفایت می کند</p>
        </div>
        <div class="answer_block">
          <div class="degree_answer_block-options">
            <div class="degree_answer_block-option">
                <input type="radio" name="answer__option" id="answer-n1">
                <label class="answer_option-label" for="answer-n1"><i class="fa fa-star-o"></i></label>
            </div>
            <div class="degree_answer_block-option">
                <input type="radio" name="answer__option" id="answer-n2">
                <label class="answer_option-label" for="answer-n2"><i class="fa fa-star-o"></i></label>
            </div>
            <div class="degree_answer_block-option">
                <input type="radio" name="answer__option" id="answer-n3">
                <label class="answer_option-label" for="answer-n3"><i class="fa fa-star-o"></i></label>
            </div>
            <div class="degree_answer_block-option">
                <input type="radio" name="answer__option" id="answer-n4">
                <label class="answer_option-label" for="answer-n4"><i class="fa fa-star-o"></i></label>
            </div>
            <div class="degree_answer_block-option">
                <input type="radio" name="answer__option" id="answer-n5">
                <label class="answer_option-label" for="answer-n5"><i class="fa fa-star-o"></i></label>
            </div>
          </div>
        </div>
     </div>
</body>
</html>