.QuestionContainer
{
    width: calc(17rem + 17vw);
    background: var(--theme-white);
    border-radius: 20px;
    box-shadow: 3px 3px 10px var(--folder-shadow-color);
    font-family: IRANSans;
}
.description_block
{
    padding: 10px;
    color: var(--brand-color);
    text-align: right;
}
.degree_answer_block-options {
    display: flex;
    width: 90%;
    margin: 1rem auto;
}
.degree_answer_block-option {
    margin-right: 0.5rem;
    color: var(--answer-option-default-color);
}
.degree_answer_block-option input
{
    display: none;
}
.degree_answer_block-option input:checked + .answer_option-label
{
    color: var(--brand-color);
}
.degree_answer_block-option .answer_option-label
{
    font-size: 1.6rem;
    cursor: pointer;
}