.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.null{
    width: 80%;
    height: auto;

}
/*table,tr,th,td {*/
/*    border-spacing: 20px;*/
/*}*/
/*tr{*/
/*    border-collapse: separate;*/
/*    border-spacing: 8px;*/
/*}*/
table.blueTable {

    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 4px 0px;
}
/*td{*/
/*    border-right: 2px solid#EFEFEF;*/
/*    border-left: 2px solid #EFEFEF;*/
/*}*/

table.blueTable td, table.blueTable th {
    padding: 3px 2px;
}
.firstTh{
    width: 12%;
}
table.blueTable tbody td {
    font-size: 13px;
}
table.blueTable tr:nth-child(even) {
    background: #EFEFEF;
}
table.blueTable thead {
    background: #5360ED;
    background: #5360ED;
    background:#5360ED;
    background: #5360ED ;
    border-bottom-spacing: 2px;
    /*border-bottom: 1px solid #444444;*/
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 1px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 1px solid #444444;
}
table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
/*table.blueTable tfoot .links a{*/
/*    display: inline-block;*/
/*    background: #1C6EA4;*/
/*    color: #FFFFFF;*/
/*    padding: 2px 8px;*/
/*    border-radius: 5px;*/
/*}*/