<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="/Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <button class="navToggleButton navButton">
                <i class="fa fa-bars"></i>
            </button>
                <h3 class="codinto-title">
                   کدینتو لاین
                </h3>
                <div class="navMenu hide">
                    <ul class="navItemlist">
                        <li class="navItem">
                            <a href="">ایجاد پرسشنامه</a>
                            <i class="fa fa-plus-circle"></i>
                        </li>
                        <li class="navItem">
                            <a href="">تنظیمات</a>
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </li>
                        <li class="navItem">
                            <a href="">ارسال</a>
                            <i class='fa fa-paper-plane'></i>
                        </li>
                        <li class="navItem">
                            <a href="">مشاهده</a>
                            <i class="fa fa-eye"></i>
                        </li>
                    </ul>
                </div>
                <button class="viewFormQuestions navButton">
                    <i class="fa fa-eye"></i>
                </button>
        </nav>
     </header>
</body>
</html>