<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Question</title>
    <link rel="stylesheet" href="/Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="/Components/ViewQuestion/ViewQuestionStyle.css">
</head>
<body>
    <div class="QuestionContainer">
        <div class="Question-Title">
            <label>2 :</label>
            <p></p>
            
        </div>
        <div class="description_block">
            <p></p>
        </div>
        <div class="answer_block">
          <div class="multiple_answer_block-options">
            <div class="multiple_answer_block-option">
                <input type="radio" name="answer__option" id="answer-n1">
                <label class="answer_option-label" for="answer-n1">گزینه 1</label>
            </div>
            <div class="multiple_answer_block-option">
                <input type="radio" name="answer__option" id="answer-n2">
                <label class="answer_option-label" for="answer-n2">گزینه 2</label>
            </div>
            <div class="multiple_answer_block-option">
                <input type="radio" name="answer__option" id="answer-n3">
                <label class="answer_option-label" for="answer-n3">گزینه 3</label>
            </div>
            <div class="multiple_answer_block-option">
                <input type="radio" name="answer__option" id="answer-n4">
                <label class="answer_option-label" for="answer-n4">گزینه 4</label>
            </div>
          </div>
        </div>
     </div>
</body>
</html>