.QuestionContainer
{
    width: calc(17rem + 17vw);
    background: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px var(--folder-shadow-color);
    padding-bottom: 20px;
    font-family: IRANSans;
}
.Question-Title , .Greeting-Title
{
    height: 50px;
    line-height: 50px;
    width: 100%;
}
.Greeting-Title
{
    border-radius: 15px 15px 0 0;
    background: var(--brand-color);
    color: white;
    text-align: center;
    font-size: 15px;
}
.Question-Title
{
    color: var(--brand-color);
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.description_block
{
    padding: 10px;
    color: var(--brand-color);
}
.QuestionStart
{
    display: flex;
    justify-content: center;
}
.QuestionStartButton
{
    padding: 8px;
    background: var(--brand-color);
    width: 22%;
    border: none;
    color: var(--theme-white);
    border-radius: 40px;
    font-family: 'IRANSANS';
    cursor: pointer;
}