@import url('Dragula.css');
body 
{
    background: var(--theme-Page-Graybg);
    height: 100vh;
}
.parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .parent_container.single 
{
    height: 90%;
} */
.parent_container.total 
{
    height: auto;
}
.answer_page_container {
    width: 80%;
    margin: 1.3rem auto 1rem auto;
    padding: 2rem;
}
.questionnaire_ended
{
    display: none;
}
.answer_page_container.ended
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.answer_page_container.ended .questionnaire_ended
{
    color: var(--brand-color);
    display: block;
    font-family: IRANSans;
}
.answer_page_container.ended .FormFooter
{
    display: none;
}
.SideFooter
{
    justify-content: space-around;
    width: 60%;
}
.answer_page_container.singleQuestion
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.QuestionContainer
{
    margin: 1.2rem auto;
    font-family: IRANSans;
    width: 50%;
}
.QuestionContainer.error_occur
{
    border: 2px solid var(--answer-page-error-border );
    box-shadow: 4px 4px 10px var(--answer-page-error-boxShadow);
    background: var(--answer-page-error-bg);
}
.QuestionContainer .QuestionContainer 
{
    width: 85%;
}
.QuestionContainer:not
{
    padding: 1rem;
}
.Question-Title, .Greeting-Title
{
    width: auto;
}
.answer_page_progressBar
{
    position: absolute;
    bottom: -7px;
    width: 100%;
    direction: ltr;
    height: 6px;
    appearance: none;
    -webkit-appearance: none;
    display: none;
}
.answer_page_progressBar.active.totalMode
{
    position: fixed;
    top: -1px;
}
.answer_page_progressBar.active 
{
    display: block;
}
.answer_page_progressBar[value]::-webkit-progress-bar {
    background: var(--theme-white);
}
.answer_page_progressBar[value]::-webkit-progress-value
{
    background: var(--brand-color);
    transition: 0.2s;
}
.made_by_text
{
    position: fixed;
    left: 1.5rem;
    bottom: 14px;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--brand-color);
    font-family: IRANSans;
}
.upload__box
{
    pointer-events: all;
}
.entry__input{
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: var(--input-title-bg-color) 0px 2px 8px 0px;
    color: var(--brand-color);
    font-size: 15px;
    font-weight: 400;
    font-family: IRANSans;
    border-radius: 10px;
    padding: 0.6rem; 
    border: 1px solid var(--brand-color);
    transition: 0.4s;
    width: 100%;
}
.entry__input::placeholder{
    color: var(--input-placeholder-color);
    font-size: 14px;
    font-weight: 400;
    font-family: IRANSans;
}
.entry__input:focus{
  background-color: var(--input-title-bg-color);
}
.textArea__container, .number_answer_box_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.1rem;
    width: 90%;
    margin: 0.8rem auto 0 auto;
}
.saveQuestion
{
    padding: 0.8rem 0 0.8rem 0;
    overflow: hidden;
}
.saveQuestion.operating
{
    padding: 0.9rem 0 0.9rem 0;
    pointer-events: none;
}
.saveQuestion.operating .dot-pulse
{
    display: block;
}
.saveQuestion.operating p 
{
    display: none;
}
@media only screen and (max-width : 900px)
{
    /* .answer_page_container
    {
        width: 80%;
    } */
    .QuestionContainer
    {
        width: 80%;
    }
    .saveQuestion, .cancelQuestion
    {
        width: 45%;
    }
    .answer_page_container.noQuestion , .answer_page_container.not_found
    {
        margin-top: 1.5rem;
    }
}
.not_found_container , .no_question{
    text-align: center;
    font-family: 'IRANSANS';
    color: var(--brand-color);
    display: none;
}
.answer_page_container.not_found  , .answer_page_container.ended , .answer_page_container.noQuestion
{
    background: var(--theme-white);
    border-radius: 20px;
    box-shadow: 4px 4px 10px #0000001c;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer_page_container.noQuestion .no_question
{
    display: block;
}
.inputUploader.audio_uploaded .uploaded_file_video , .inputUploader.zip_uploaded .uploaded_file_video
, .inputUploader.file_uploaded .uploaded_file_video
{
    display: none;
}
.zip_file_preview , .audio_file_preview  , .file_preview
{
    display: none;
}
.inputUploader.zip_uploaded .zip_file_preview , .inputUploader.audio_uploaded .audio_file_preview
, .inputUploader.file_uploaded .file_preview
{
    display: block;
}
@media only screen and (max-width : 576px)
{
    .answer_page_container.not_found
    {
        margin-top: 1.5rem !important;
    }
    .answer_page_container
    {
        padding: 0.5rem 0;
        margin-top: 0;
        width: 90%;
    }
    .QuestionContainer
    {
        width: 85%;
    }
} 
@media only screen and (max-width : 400px)
{
    .answer_page_container
    {
        width: 100%;
    }
    .QuestionContainer
    {
        width: 88%;
    }
    .answer_page_container.not_found , .answer_page_container.ended , .answer_page_container.noQuestion
    {
        width: 95%;
    }
}