@import url('Dragula.css');
body 
{
    background: var(--theme-Page-Graybg);
}
.answer_page_container {
    width: 80%;
    margin: 1.3rem auto 1rem auto;
    padding: 2rem;
}
.SideFooter
{
    justify-content: space-around;
    width: 60%;
}
.answer_page_container.singleQuestion
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.QuestionContainer
{
    margin: 1.2rem auto;
    font-family: IRANSans;
    width: 50%;
}
.QuestionContainer .QuestionContainer 
{
    width: 85%;
}
.QuestionContainer:not
{
    padding: 1rem;
}
.Question-Title, .Greeting-Title
{
    width: auto;
}
.answer_page_progressBar
{
    position: absolute;
    bottom: -7px;
    width: 100%;
    direction: ltr;
    height: 6px;
    appearance: none;
    -webkit-appearance: none;
    display: none;
}
.answer_page_progressBar.active 
{
    display: block;
}
.answer_page_progressBar[value]::-webkit-progress-bar {
    background: var(--theme-white);
}
.answer_page_progressBar[value]::-webkit-progress-value
{
    background: var(--brand-color);
    transition: 0.2s;
}
.made_by_text
{
    position: fixed;
    left: 1.5rem;
    bottom: 14px;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--brand-color);
    font-family: IRANSans;
}
.upload__box
{
    pointer-events: all;
}
.action__input{
    background-color: transparent;
    border: 1px solid var(--brand-color);
    height: 30px;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: var(--brand-color);
    font-size: 15px;
    font-weight: 400;
    font-family: IRANSans;
    border-radius: 25px;
    padding: 0.6rem; 
    border: 1px solid var(--brand-color);
    transition: 0.4s;
    width: 100%;
}
.textArea__container, .number_answer_box_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.1rem;
    width: 90%;
    margin: 0.8rem auto 0 auto;
}
@media only screen and (max-width : 900px)
{
    .answer_page_container
    {
        width: 80%;
    }
    .QuestionContainer
    {
        width: 80%;
    }
    .saveQuestion, .cancelQuestion
    {
        width: 45%;
    }
}
@media only screen and (max-width : 576px)
{
    .answer_page_container
    {
        padding: 0.5rem 0;
        margin-top: 0;
        width: 90%;
    }
    .QuestionContainer
    {
        width: 85%;
    }
} 
@media only screen and (max-width : 400px)
{
    .answer_page_container
    {
        width: 100%;
    }
    .QuestionContainer
    {
        width: 88%;
    }
}