@import url(/Assets/Styles/normalize.css);
@font-face {
    font-family: IRANSans;
    src: url('../Font/IRANSans Regular.woff') format("woff");
}

:root {
    --brand-color: #3F52E3;
    --theme-white: #FFFFFF;
    --theme-navbar-shadow: #0000001A;
    --theme-Page-Graybg: #F6F6F6;
    --text-input-bg-color: #F6F7FF;
    --theme-Checkbox-Toggle-bg: #EFEFEF;
    --toggle-shadow-color: #3f52e34d;
    --input-title-bg-color: #EEF1FF;
    --deActive-input-title-bg : #EFEFEF;
    --deActive-input-bg : #f5f5f8;
    --deActive-input-text-color : #d6d8e7;
    --input-shadow-color: #12004e1c;
    --folder-shadow-color: #0000001a;
    --input-placeholder-color: #5360ed4d;
    --label-default-color: #5360ed77;
    --answer-option-default-color : #5360eda3;
    --selected-date-bg-color: #3f52e335;
    --screen-mask-bg-color: #00000087;
    --theme-Codinto: #161D6F;
    --theme-radius-size: 15px;
}
* {
    margin: 0;
    padding: 0;
}

.block__header {
    position: relative;
    width: 100%;
    background-color: var(--theme-white);
}

.block__header nav {
    display: flex;
    height: 60px;
    box-shadow: 0px 3px 4px var(--theme-navbar-shadow);
    font-family: IRANSans;
    text-align: center;
    line-height: 60px;
    justify-content: space-between;
}

.navbar-codinto-title {
    margin: 0 auto 0 auto;
    font-size: 1.5rem;
    color: var(--theme-Codinto);
}

.block__section {
    background-color: var(--theme-Page-Graybg);
    width: 100%;
    height: 100vh;
    font-family: IRANSans;
    display: flex;
    padding-bottom: 1rem;
}

.block__main,
.block__side {
    height: 100%;
    overflow-y: scroll;
}
.block__main {
    width: 70%;
    position : relative;
}

.block__side {
    background-color: var(--theme-white);
    width: calc(11vw + 18rem);
    box-shadow: -2px 0 10px var(--theme-navbar-shadow);
}

.block__side::-webkit-scrollbar {
    width: 0;
}
/* .block__side.preview_active 
{
    left: 1002%;
    position: absolute;
} */
.block__main .block__main_navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}
.block__main .back_to_design_button {
    margin: 1rem;
    background: none;
    border: none;
    outline: none;
    color: var(--brand-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.block__main.preview_active .block__main_navbar 
{
    display: block;
}
.navButton {
    background: none;
    border: none;
    font-size: calc(1.3rem + 0.5vw);
    color: var(--brand-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navToggleButton,
.viewFormQuestions {
    display: none;
}

.navToggleButton {
    margin-right: 15px;
}

.viewFormQuestions {
    margin-left: 15px;
}
.navMenu {
    width: 65%;
    right: -70%;
    position: fixed;
    height: 100vh;
    background: white;
    z-index: 99;
    transition: 0.5s;
    
}
.navMenu.active {
    right: 0;
}

.navMenu .navItemlist {
    text-align: right;
    list-style: none;
}

.navItem {
    width: 95%;
    padding-right: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto 0 auto;
    cursor: pointer;
    border-radius: 7px;
    font-size: calc(0.8rem + 0.5vw);
}

.navItem:hover {
    background-color: var(--input-title-bg-color);
}

.navItem i {
    font-size: 1.6rem;
    color: var(--brand-color);
    margin-left: 15px;
}

.navMenu .navItemlist .navItem a {
    text-decoration: none;
    color: var(--brand-color);
}

.slider-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 66px;
    height: 33px;
    bottom: 0;
    background-color: var(--theme-Checkbox-Toggle-bg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider-button:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--theme-white);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 1px 1px 4px var(--toggle-shadow-color);
}

.Switch-Container {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto 0 auto;
    justify-content: space-between;
}

.Switch-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.Switch-toggle input:checked+.slider-button {
    background-color: var(--brand-color);
}

.Switch-toggle input:checked+.slider-button:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

.Switch-Container p {
    color: var(--brand-color);
    width: 100%;
    font-weight: 600;
}

.Switch-toggle .slider-button {
    border-radius: 34px;
}

.Switch-toggle .slider-button:before {
    border-radius: 50%;
}

.SideFooter {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 90%;
    margin: 20px auto 20px auto;
}

.saveQuestion 
{
    background-color: var(--brand-color);
    border: none;
    color: var(--theme-white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cancelQuestion 
{
    margin-left: 10px;
    border: 2px solid var(--brand-color);
    color: var(--brand-color);
    background: var(--theme-white);
}

.saveQuestion , .cancelQuestion
{
    font-size: 1.0rem;
    padding: 6px;
    width: 25%;
    border-radius: 10px;
    font-family: 'IRANSANS';
    cursor: pointer;
}
.cancelQuestion a 
{
    text-decoration: none;
    color: var(--brand-color);
}
.screen-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    background: var(--screen-mask-bg-color);
    height: 100%;
    z-index: 12;
    cursor: pointer;
    transition: opacity 0.3s;
    visibility: hidden;
}

.screen-mask.active {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width : 768px) {

    .navToggleButton,
    .viewFormQuestions {
        display: block;
    }
}

@media only screen and (max-width : 576px) {
    .slider-button {
        width: 58px;
        height: 26px;
    }

    .slider-button:before {
        width: 21px;
        height: 21px;
    }

    .Switch-Container input:checked+.slider-button:before {
        transform: translateX(31px);
        bottom: 3px;
    }

}
.LimitInput .direction__lable{
    display: inline-block;
    width: 40px;
 }
#topPage{
     position: relative;
 }
.wrongEntry{
    width: 280px;
    height: 40px;
    position: absolute;
    top: 1rem;
    left: 2rem;
    /*right: 2rem;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff456a;
    border-radius : 8px;
    transition: ease-in 0.6s;
    opacity: 0;
}
.wrong__text{
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: IRANSans;
}