.FormsManagement
{
    display: flex;
}

.AddForm , .form
{
    margin: 20px 20px 0 0;
    width: 33%;
    background: var(--theme-white);
    height: calc(9rem + 4vw);
    border-radius: calc(0.8rem + 1vw);
    box-shadow: 2px 2px 10px #0000001f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3F52E3;
    transition: 0.3s;
    cursor: pointer;
}
.form p 
{
    font-size: calc(0.8rem + 0.5vw);
    margin-bottom: 11px;
    font-family: IRANSans;
    text-align: center;
}
.form i
{
    font-size: calc(1.5rem + 0.7vw);
}
.form:hover 
{
    background-color: var(--brand-color);
}
.form:hover i  ,.form:hover  p 
{
    color: white;
}
.sidenavbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-bottom: 2px solid var(--brand-color);
    margin: 16px auto 0 auto;
    padding-bottom: 15px;
}
.navTools
{
    display: flex;
}
.FolderSearch
{
    margin-left: 10px;
}
.FolderEdit 
{
    display: none;
}
.Folder
{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px auto 0 auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    color: var(--brand-color);
}
.FolderName
{
    margin: 0 auto 0 auto;
}
.Selected
{
    background-color: #5360ed1a;
}
.Folder .FolderEdit  , .Folder .FolderRemove
{
    display: none;
}

.Selected .folder_control button
{
    display: block;
}
.Selected .folder_control .FolderEdit i:hover 
{
    text-shadow: 1px 3px 10px rgba(0, 0, 255, 0.197);
}

.Selected .FolderName {
    margin: 0;
    display: flex;
    align-items: center;
}
.navTitle
{
    width: 80%;
    transition: 0.3s;
}
#search-input
{
    width: 0;
    border: none;
    border-bottom: 2px solid var(--brand-color);
    color: var(--brand-color);
    outline: none;
    font-size: 18px;
    padding-bottom: 5px;
    font-family: IRANSans;
    transition: width 0.4s;
    margin: 0 auto 0 auto;
}
.search-box 
{
    width: 0;
    transition: width 0.4s;
}
.search-box.search-active
{
    width: max(80%,30%);
    display: flex;
    margin: 0 auto 0 auto;
}
.search-box.search-active #search-input 
{
    width: 95%;
}
#search-input::placeholder
{
    color: var(--brand-color);
}
#search-input:focus
{
    width: 97%;
}
.FormEdit
{
    width: 35%;
    display: flex;
    justify-content: space-around;
}
.FormEdit i:hover 
{
    text-shadow: 1px 3px 10px rgba(255, 255, 255, 0.256);
}
.navTitle.search-active 
{
    width: 0;
    opacity: 0;
    display: none;
}
.sidebar-codinto-title
{
    transition: 0.2s;
}
.FolderSearch .close-search
{
    display: none;
}
.FolderSearch.search-active .close-search
{
    display: block;
}
.FolderSearch.search-active .open-search
{
    display: none;
}

.createFolderPopUp , .renameFolderPopUp
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(20rem + 9vw);
    height: 200px;
    justify-content: space-around;
    text-align: center;
    background: white;
    display: flex;
    color: #3F52E3;
    flex-direction: column;
    box-shadow: 2px 2px 10px var(--theme-navbar-shadow);
    border-radius: 20px;
    font-family: IRANSans;
    z-index: -1;
    transition: opacity 0.4s;
    opacity: 0;
}
.createFolderPopUp.active , .renameFolderPopUp.active
{
    opacity: 1;
    z-index: 15;
}
.popup_input
{
    border: 2px solid #3f52e32e;
    width: 60%;
    text-align: center;
    height: 40px;
    color: var(--brand-color);
    font-size: 1.1rem;
    font-family: 'IRANSANS';
    outline: none;
    border-radius: 10px;
    transition: 0.4s;
}
.popup_input::placeholder
{
    color: #3f52e32e;
}
.popup_input:focus
{
    width: 70%;
}
.PopUpButtons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto 0 auto;
}
.Selected .folder_control {
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.confirm-button , .cancel-button
{
    width: 95%;
    height: 37px;
    border-radius: 14px;
    font-size: 18px;
    font-family: IRANSans;
    cursor: pointer;
    margin: 0 5px 0 5px;
}
.confirm-button
{
    background: var(--brand-color);
    border: none;
    color: var(--theme-white);
}
.cancel-button
{
    border: 2px solid var(--brand-color);
    color: var(--brand-color);
    background: none;
}
.navItem
{
    height: 60px;
}
.navItemlist
{
    font-family: IRANSans;
}
.folder_slide_toggle {
    border: none;
    background: none;
    font-size: 1.8rem;
    color: var(--brand-color);
    margin: 0 auto;
    display: none;
    cursor: pointer;
    transition: 0.2s;
}
.folder_slide_toggle.active
{
    transform: rotate(180deg);
}
.sideBody
{
    text-align: center;
}
@media only screen and (max-width : 768px)
{ 
    .block__section
    {
        flex-direction: column;
    }
    .block__main , .block__side
    {
        width: 100%;
        height: auto;
    }
    .Selected .folder_control
    {
        display: none;
    }
    .AddForm , .form
    {
        margin: 20px auto 0 auto;
        width: 45%;
    }
    .navTitle
    {
        margin: 0 auto 0 auto;
    }
    .FormsManagement
    {
        align-items: center;
        justify-content: center;
    }
    /*.Folder*/
    /*{*/
    /*    display: none;*/
    /*}*/
    .Selected
    {
        display: flex !important;
        background: none;
        box-shadow: none;
    }
    .Selected .FolderName
    {
        margin: 0 auto 0 auto;
    }
    .Selected .FolderEdit , .Selected .FolderRemove
    {
        display: block;
    }
    .navTitle
    {
        text-align: center;
    }
    #search-input
    {
        text-align: center;
    }
    .folder_slide_toggle
    {
        display: block;
    }
}