.FormsManagement
{
    display: flex;
}

.AddForm , .form
{
    margin: 20px 20px 0 0;
    width: max(180px,269px);
    background: var(--theme-white);
    height: calc(9rem + 4vw);
    border-radius: calc(0.8rem + 1vw);
    box-shadow: 2px 2px 10px #0000001f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3F52E3;
    transition: 0.3s;
    cursor: pointer;
}
.form p 
{
    font-size: calc(0.8rem + 0.5vw);
    margin-bottom: 11px;
    font-family: IRANSans;
    text-align: center;
}
.form i
{
    font-size: calc(1.5rem + 0.7vw);
}
.form:hover 
{
    background-color: #3F52E3;
}
.form:hover i  ,.form:hover  p 
{
    color: white;
}
.sidenavbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-bottom: 2px solid #3F52E3;
    margin: 16px auto 0 auto;
    padding-bottom: 15px;
}
.navTitle h3 
{
    color: #161D6F;
}
.navTools
{
    display: flex;
}
/* .navTools button , .FolderEdit
{
    border: none;
    display: flex;
    align-items: center;
    background: none;
    cursor: pointer;
    font-size: 30px;
    color: #3F52E3;
    margin-right: 10px;
} */
.FolderSearch
{
    margin-left: 10px;
}
.FolderEdit 
{
    display: none;
}
.Folder
{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px auto 0 auto;
    cursor: pointer;
    padding: 10px;
    box-shadow: 2px 2px 10px #0000001a;
    border-radius: 15px;
    color: #3F52E3;
    transition: 0.3s;
}
.FolderName
{
    margin: 0 auto 0 auto;
}
.Selected
{
    background-color: #5360ed1a;
}
.Selected .FolderEdit 
{
    display: block;
}
.Selected .FolderName
{
    margin: 0;
}
#search-input
{
    border: none;
    border-bottom: 2px solid #3F52E3;
    outline: none;
    font-size: 18px;
    padding-bottom: 5px;
    font-family: IRANSans;
    transition: 0.4s;
    display: none;
}
#search-input::placeholder
{
    color: #3F52E3;
}
#search-input:focus
{
    width: 230px;
}
.createFolderPopUp
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    justify-content: space-around;
    text-align: center;
    background: white;
    display: none;
    color: #3F52E3;
    flex-direction: column;
    box-shadow: 2px 2px 10px #0000002e;
    border-radius: 20px;
    font-family: IRANSans;
}
.createFolderPopUp #NewFolderName
{
    border: 2px solid #3f52e32e;
    color: white;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    color: #3F52E3;
    font-size: 18px;
    font-family: 'IRANSANS';
    outline: none;
    border-radius: 10px;
    transition: 0.4s;
}
#NewFolderName::placeholder
{
    color: #3f52e32e;
}
#NewFolderName:focus
{
    width: 70%;
}
.createFolderPopUp .PopUpButtons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto 0 auto;
}
.PopUpButtons button 
{
    width: 92px;
    height: 37px;
    border-radius: 14px;
    font-size: 18px;
    font-family: IRANSans;
    cursor: pointer;
}
.confirmButton
{
    background: #3F52E3;
    border: none;
    color: white;
}
.cancleButton
{
    border: 2px solid #3F52E3;
    color: #3F52E3;
    background: none;
}
.navMenu
{
    position: absolute;
    top: 0;
}
@media only screen and (max-width : 650px)
{
    section 
    {
        flex-direction: column;
    }
    main , aside
    {
        width: 100%;
        height: auto;
    }
    .navTools .AddFolder 
    {
        display: none;
    }
    .navTitle
    {
        margin: 0 auto 0 auto;
    }
    .FormsManagement
    {
        align-items: center;
        justify-content: center;
    }
    .Folder
    {
        display: none;
    }
    .Selected
    {
        display: flex;
        background: none;
        box-shadow: none;
    }
    .Selected .FolderName
    {
        margin: 0 auto 0 auto;
    }
    .Selected .FolderEdit
    {
        display: none;
    }
}