@import url('./Dragula.css');
.block__section .block__side
{
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(3, 1fr);
    padding-left: 10px;
}
.block__section .block__side .QuestionDesignItem 
{
    width: 95%;
    height: 100px;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 4px var(--input-shadow-color);
    border-radius: 50px/110px;
    justify-content: center;
    align-items: center;
    color: var(--brand-color);
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}
.QuestionDesignItem:first-child { grid-area: 1 / 1 / 2 / 4; width: 96%;}
.QuestionDesignItem:last-child { grid-area: 6 / 1 / 7 / 4; width: 96%;}

.block__section main 
{
    width: 70%;
}
.block__section main .QuestionsBox
{
    width: 70%;
    margin: 60px auto 0 auto;
    height: 650px;
}
.QuestionsBox .Questionitem , .Question-Nested-item 
{
    position: relative;
    width: 100%;
    height: 50px;
    border: 2px solid var(--brand-color);
    border-radius: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.Questionitem.is_dragging 
{
    opacity: 0.85;
}
.Questionitem.is_dropped
{
    opacity: 1;
}
.QuestionDesignItem  i
{
    font-size: calc(0.9rem + 0.5vw);
    margin-top: 5px;
}
.Questionitem:hover , .Question-Nested-item:hover 
{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.105);
}
.QuestionDesignItem:hover 
{
    background-color: var(--brand-color);
    color: var(--theme-white);
}
.QuestionDesignItem:hover i , .QuestionDesignItem:hover .question-design-item-text
{
    color: var(--theme-white);
}
.QuestionDesignItem:hover svg 
{
    fill: var(--theme-white);
}
.QuestionLabel
{
    width: calc(3.9rem + 0.5vw);;
    height: 100%;
    border-radius: 17px;
    background-color: var(--brand-color);
    color: var(--theme-white);
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.QuestionitemText
{ 
    margin-right: 10px;
    color: var(--brand-color);
    width: 90%;
    font-size: calc(0.65rem + 0.5vw);
}
.QuestionTools
{
    display: flex;
    line-height: 0;
    margin-left: 5px;
}
.QuestionTools .DeleteButton , .EditButton
{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 8px;
}
.DeleteButton i , .EditButton i
{
    font-size: 1.5rem;
    color: var(--brand-color);
} 
.QuestionDesignItem i svg
{
    width: 30px;
    fill: var(--brand-color);
    margin-top: 5px;   
}
.Question-Nested
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.Question-Nested-items
{
    width: 91%;
    display: flex;
    align-items: inherit;
    flex-direction: column;
}
@media only screen and (max-width : 992px)
{
    .block__section main .QuestionsBox {
        width: 80%;
    }
}
@media only screen and (max-width : 768px) {
    .block__section .block__side 
    {
        display: none;
        width: 100%;
    }
    .block__section main {
        width: 100%;
    }
    .block__section main .QuestionsBox {
        width: 90%;
        margin-top: 30px;
    }
}
@media only screen and (max-width : 576px)
{
    .block__section
    {
        height: 100%;
    }
    .block__section main .QuestionsBox {
        width: 95%;
    }
    .QuestionLabel svg 
    {
        width: 25px;
    }
}