@import url('Dragula.css');
.block__section .block__side
{
    display: flex;
    justify-content: center;
}

.question_design_items
{
    display: grid;
    width: 95%;
    grid-template: repeat(6, 1fr) / repeat(3, 1fr);
}
.question_design_header {
    display: none;
    width: 95%;
    margin: 0 auto 0 auto;
    box-shadow: 2px 2px 10px #0000000f;
    border-radius: 4px;
    justify-content: center;
    position: relative;
    color: var(--brand-color);
    align-items: center;
    background-color: var(--input-title-bg-color);
    height: 5%;
}
.block__side.add_question_active .question_design_header
{
    display: flex;
    padding: 1rem 0 1rem 0;
    margin-top: 1rem;
}
.close_side_penel
{
    position: absolute;
    right:  1rem;
}
.block__section .block__side .QuestionDesignItem 
{
    width: 92%;
    height: 100px;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 4px var(--input-shadow-color);
    /* border-radius: 50px/110px; */
    border-radius: 57px/8px;
    justify-content: center;
    align-items: center;
    color: var(--brand-color);
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    line-height: 1.8rem;
}

.QuestionDesignItem:first-child { 
    grid-area: 1 / 1 / 2 / 4;
}
.QuestionDesignItem:last-child { 
    grid-area: 6 / 1 / 7 / 4;
}
.QuestionDesignItem.welcome-page  , .QuestionDesignItem:last-child 
{
    width: 96%;
    border-radius: 183px / 11px !important;
}
.block__section main 
{
    width: 70%;
}
.block__section main .QuestionsBox
{
    width: 70%;
    margin: 60px auto 0 auto;
    height: 650px;
}
.QuestionsBox.emptyActive
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c6c8d8;
    border-radius: 10px;
    border: 1px solid #c6c8d8;
}
.QuestionsBox.emptyActive .emptyListIcon
{
    margin-bottom: 2rem;
    font-size: 6.5rem;
}
.QuestionsBox .Questionitem , .Question-Nested-item 
{
    position: relative;
    width: 100%;
    height: 50px;
    border: 2px solid var(--brand-color);
    border-radius: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.Questionitem.is_dragging 
{
    opacity: 0.85;
}
.Questionitem.is_dropped
{
    opacity: 1;
}
.QuestionDesignItem  i
{
    font-size: calc(0.9rem + 0.5vw);
    margin-top: 10px;
}
.Questionitem:hover , .Question-Nested-item:hover 
{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.105);
}
.QuestionDesignItem:hover 
{
    background-color: var(--brand-color);
    color: var(--theme-white);
}
.QuestionDesignItem:hover i , .QuestionDesignItem:hover .question-design-item-text
{
    color: var(--theme-white);
}
.QuestionDesignItem:hover svg 
{
    fill: var(--theme-white);
}
.QuestionLabel
{
    width: calc(3.9rem + 0.5vw);;
    height: 100%;
    border-radius: 17px;
    background-color: var(--brand-color);
    color: var(--theme-white);
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.QuestionitemText
{ 
    margin-right: 10px;
    color: var(--brand-color);
    width: 90%;
    font-size: calc(0.6rem + 0.5vw);
}
.QuestionTools
{
    display: flex;
    line-height: 0;
    margin-left: 5px;
}
.QuestionTools .DeleteButton , .EditButton
{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 8px;
}
.DeleteButton i , .EditButton i
{
    font-size: 1.5rem;
    color: var(--brand-color);
} 
.QuestionDesignItem i svg
{
    width: 30px;
    fill: var(--brand-color);
    margin-top: 5px;   
}
.Question-Nested
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.Question-Nested-items
{
    width: 91%;
    display: flex;
    align-items: inherit;
    flex-direction: column;
}
#loading-animation {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 10px var(--folder-shadow-color);
    border-radius: 10px;
  }
  
#loading-animation  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--brand-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: LoadingSpinner 2s linear infinite;
}
.removeFolderPopUp
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(20rem + 9vw);
    height: 200px;
    justify-content: space-around;
    text-align: center;
    background: white;
    display: flex;
    color: #3F52E3;
    flex-direction: column;
    box-shadow: 2px 2px 10px var(--theme-navbar-shadow);
    border-radius: 20px;
    font-family: IRANSans;
    z-index: -1;
    transition: opacity 0.4s;
    opacity: 0;
}
.removeFolderPopUp.active
{
    opacity: 1;
    z-index: 15;
}
.PopUpButtons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto 0 auto;
}
.popup_deleteIcon {
    color: var(--brand-color);
    font-size: 4em;
    display: flex;
    justify-content: center;
}
.popup_deleteIcon i 
{
    border: 7px solid var(--brand-color);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_headerText
{
    margin-top: 1rem;
}
.confirm-button , .cancel-button
{
    width: 95%;
    height: 37px;
    border-radius: 14px;
    font-size: 18px;
    font-family: IRANSans;
    cursor: pointer;
    margin: 0 5px 0 5px;
}
.confirm-button
{
    background: var(--brand-color);
    border: none;
    color: var(--theme-white);
}
.cancel-button
{
    border: 2px solid var(--brand-color);
    color: var(--brand-color);
    background: none;
}
@keyframes LoadingSpinner {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}
#loading-animation.hide {
    display: none;
}  
@media only screen and (max-width : 992px)
{
    .block__section main .QuestionsBox {
        width: 80%;
    }
}
@media only screen and (max-width : 768px) {
    .block__section .block__side 
    {
        display: none; 
    }
    .block__side.add_question_active
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block__section main {
        width: 100%;
    }
    .block__section main .QuestionsBox {
        width: 90%;
        margin-top: 30px;
    }
}
@media only screen and (max-width : 576px)
{
    .block__section
    {
        height: 100%;
    }
    .block__section main .QuestionsBox {
        width: 95%;
    }
    .QuestionLabel svg 
    {
        width: 25px;
    }
}