.block__main 
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.SideHeader
{
    padding-bottom: 15px;
    text-align: center;
}
.SideHeader .SideHeaderTitle .sidebar-codinto-title
{
    font-size: 22px;
    width: 55%;
    margin: 20px auto 0 auto;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--brand-color);
    color: var(--brand-color);
}
.SideHeaderBody
{
    position: relative;
}
.SideHeader .SideHeaderBody p 
{
    margin-top: 15px;
    font-size: 15px;
    color: var(--brand-color);
}
.navButton
{
    border: 2px solid var(--brand-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
}
.cancelDesign
{
    right: 20px;
    top: 0;
}

.viewQuestion
{
    top: 0;
    left: 20px;
    display: none;
    font-size: 15px;
}
.SideBody
{
    margin-top: 30px;
}
.fileUploader , .TitleInput , .DescInput
{
    width: 90%;
    margin: 20px auto 0 auto;
}
.fileFormat 
{
    width: 48%;
    background: var(--text-input-bg-color);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    color: var(--label-default-color);
}
.fileFormat  input[type=radio]
{
    display: none;
}
.fileFormat input[type=radio] + label {
    display: inline-block;
    padding: 4px 12px;
    width: 70px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}
.fileFormat input[type=radio]:checked + label  { 
    background-color: var(--theme-white);
    height: 20px;
    line-height: 20px;
    color: var(--brand-color);
}
.fileInput , .TitleInput , .DescInput
{
    margin-top: 20px;
    border-radius: var(--theme-radius-size) var(--theme-radius-size);
    box-shadow: 4px 4px 3px var(--input-shadow-color);
}
.inputTitle , .TitleInputOptions
{
    background: var(--input-title-bg-color);
    border-radius: var(--theme-radius-size) var(--theme-radius-size) 0 0;
    padding: 5px;
    text-align: center;
    color: var(--brand-color);
}
.inputUploader 
{
    height: 150px;
    background: var(--text-input-bg-color);
    border-radius: 0 0 var(--theme-radius-size) var(--theme-radius-size);
    text-align: center;
    line-height: 150px;
    font-size: 40px;
    color: var(--theme-Codinto);
}
.inputUploader input 
{
    display: none;
}
.inputUploader label ion-icon
{
    transform: rotate(180deg);
}
.ToggleOption , .Answer-Options
{
    width: 90%;
    margin: 1.6rem auto 2rem auto;
}
.TitleInputOptions
{
    color: #d6d8e7;
}
.TextField::-webkit-scrollbar
{
    width: 0;
}
.TextField
{
    display: flex;
    justify-content: center;
}
.TextField::-webkit-scrollbar-track
{
    color: red;
}
.TextField .TitleTextInput , .DescInput .TitleTextInput
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: IRANSans;
    display: flex;
    align-items: flex-start;
    background-color: var(--deActive-input-bg);
    position: relative;
    resize: none;
    border-radius: 0 0 15px 15px;
    pointer-events: none;
    padding: 10px;
    font-size: calc(0.69rem + 0.4vw);
    transition: 0.2s;
}
.TitleInput .TitleTextInput::placeholder , .DescInput .TitleTextInput::placeholder
{
    color: var(--deActive-input-text-color);
}
.TitleInput.active .TitleTextInput , .DescInput.active .TitleTextInput
{
    background-color: var(--text-input-bg-color);
    color: var(--brand-color);
    pointer-events: all;
}
.TitleInput.active .TitleTextInput::placeholder , .DescInput.active .TitleTextInput::placeholder
{
    color: var(--input-placeholder-color);
}
.GOptions
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0 8px 0;
    background-color: var(--deActive-input-title-bg);
    pointer-events: none;
    transition: 0.2s;
}
.TitleInput.active .GOptions ,  .DescInput.active .GOptions
{
    background-color: var(--input-title-bg-color);
    color: var(--brand-color);
    pointer-events: all;
}
.GOptions label
{
    display: flex;
    cursor: pointer;
}
.GOptions label input 
{
    height: 0;
    opacity: 0;
}
.ShapeOptions
{
    width: 90%;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 13px;
}
.ShapeOptions input 
{
    height: 0;
    opacity: 0;
    display: none;
}
.ShapeOptions label 
{
    cursor: pointer;
}
.bg-transp , .bg-colored 
{
    width: 90%;
    height: 46px;
    transition: 0.3s;
    pointer-events: none;
    margin: 0 auto;
}
.ShapeOptions .bg-colored
{
    background-color: var(--deActive-input-text-color);
}
.ShapeOptions .bg-transp
{      
    border: 2px solid var(--deActive-input-text-color);
}
.TitleInput.active .bg-colored
{
    background-color: var(--brand-color);
}
.TitleInput.active  .bg-transp
{
    border: 2px solid var(--brand-color);
}
.TitleInput.active .bg-transp , .TitleInput.active .bg-colored 
{
    pointer-events: all;
}
.bg-transp:hover , .bg-colored:hover 
{
    transform: scale(1.1);
}
.GButtonShape .TitleInput 
{
    padding-bottom: 20px;
}
.QuestionContainer
{
    width: calc(15rem + 17vw);
    margin-right: 1.5rem;
    background: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px var(--folder-shadow-color);
    padding: 0.6rem;
}
.Question-Title , .Greeting-Title
{
    height: 50px;
    line-height: 50px;
    width: 100%;
}
.Greeting-Title
{
    border-radius: 15px 15px 0 0;
    background: var(--brand-color);
    color: white;
    text-align: center;
    font-size: 15px;
}
.Question-Title
{
    color: var(--brand-color);
    display: flex;
    justify-content: flex-start;
}
.description_block
{
    padding: 10px;
    color: var(--brand-color);
}
.multiple_answer_block-options
{
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    gap: 12px;
    margin: 1rem auto 0 auto;
}
.multiple_answer_block-option {
    width: 94%;
    height: 50px;
    display: flex;
    margin: 0 auto 0 auto;
}
.multiple_answer_block-option .answer_option-label
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
    width: 100%;
    background: var(--text-input-bg-color);
    border-radius: 0.3rem;
    cursor: pointer;
    margin-right: 10px;
    color: var(--answer-option-default-color);
}
.multiple_answer_block-option input:checked + .answer_option-label
{
    color: var(--brand-color);
}

.QuestionStart
{
    display: flex;
    justify-content: center;
}
.QuestionStartButton
{
    padding: 8px;
    background: #3F52E3;
    width: 22%;
    border: none;
    color: white;
    border-radius: 40px;
    font-family: 'IRANSANS';
    cursor: pointer;
}
.AnswerPattern
{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px auto 0 auto;
    color: var(--brand-color);
}
.AnswerPattern .PatternChoose
{
    display: flex;
    justify-content: space-between;
}
.AnswerPattern select
{
    width: 60%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--brand-color);
    color: var(--brand-color);
    outline: none;
    font-family: 'IRANSANS';
    text-align: center;
    cursor: pointer;
}
.answer-number-selector .LimitInput
{
    margin-top: 20px;
    color: var(--deActive-input-text-color);
    transition: 0.3s;
}
.label-inputs .LimitInput
{
    color: var(--brand-color);
}
.active.answer-number-selector .LimitInput
{
    color: var(--brand-color);
}
.AnswerAlphabetLimit , .answer-number-selector
{
    width: 90%;
    flex-direction: column;
    display: flex;
    margin: 20px auto 0 auto;
}
.maxInput , .middle-Input , .left-Input
{
     margin-top: 10px;
}
.answer-number-selector .LimitInput input::placeholder
{
    color: var(--deActive-input-text-color);
}
.active.answer-number-selector .LimitInput input::placeholder
{
    color: var(--input-placeholder-color);
}
.label-text-input
{
    border-radius: 10px;
    padding: 5px;
    width: 40%;
    color: var(--brand-color);
    font-size: 20px;
    outline: none;
    margin-right: 20px;
    border: 1px solid var(--brand-color);
    transition: border 0.3s;
}
.answer-number-selector .label-text-input
{
    border-color: var(--deActive-input-text-color);
    pointer-events: none;
}
.active.answer-number-selector .label-text-input
{
    border-color: var(--brand-color);
    pointer-events: all;
}
.AnwValidation  input
{
    width: 56%;
    text-align: center;
    font-family: IRANSans;
    font-size: calc(0.75rem + 0.4vw);
}
.AnwValidation > div 
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AnwValidation  input::placeholder
{
    color: var(--input-placeholder-color);
}
.Answer-Options
{
    color: var(--brand-color);
}
.Answer-Option
{
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
}
.Answer-Option .anw-option-number
{
    width: 50%;
    color: var(--brand-color);
    background-color: var(--text-input-bg-color);
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.anw-option-label
{
    background-color: var(--input-title-bg-color);
    width: 10%;
    text-align: center;
    border-radius: 10px;
    padding: 4px;
}
.anw-option-tools button {
    color: var(--brand-color);
    background: none;
    font-size: 1.2rem;
    border: 2px solid var(--brand-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.minInput input , .maxInput input , .right-part input ,
.middle-Input input , .left-input input
{
    text-align: center;
    width: 30%;
}
.additional-options-container > div 
{
    color: var(--input-placeholder-color);
}
.range-setter , .range-container , .label-container
{
    width: 90%;
    margin: 1.5rem auto 0 auto;
}
.range-setter
{
    display: flex;
    justify-content: space-between;
}
.range-setter .range-input
{
    width: 90%;
}
.range-title , .label-title
{
    color: var(--brand-color);
    font-weight: 600;
}
.label-inputs
{
    margin-top: 1.5rem;
}
.range-label
{
    color: var(--brand-color);
    padding: 0 10px 0 10px;
    border-radius: 6px;
    background-color: var(--input-title-bg-color);
}
.range-input input[type="range"]
{
    width: 100%;
    appearance: none;
    background-color: var(--input-title-bg-color);
    height: 5px;
    transition: 0.3s;
}
input[type=range]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    width: 10px;
    height: 26px;
    background-color: var(--brand-color);
    border-radius: 5px;
    z-index: 5;
    cursor: pointer;
    transition: 0.3s;
}  
.range-setter #markers
{
    width: 100%;
    display: flex;
    writing-mode: vertical-lr;
    flex-direction: column;
    justify-content: space-between;
}
#markers option
{
    height: 13px;
    width: 7px;
    background: var(--input-title-bg-color);
    margin-top: -30px;
    border-radius: 5px;
}
@media only screen and (max-width : 992px)
{
    .block__main 
    {
       justify-content: center;
    }
}
@media only  screen and (max-width : 768px)
{
    .block__main 
    {
       display : none;
       justify-content: center;
    }
    .block__side
    {
        width: 100%;
    }
    .viewQuestion
    {
        display: flex;
    }
}