main 
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.SideHeader
{
    padding-bottom: 15px;
    text-align: center;
}
.SideHeader .SideHeaderTitle h3
{
    font-size: 22px;
    width: 55%;
    margin: 20px auto 0 auto;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--brand-color);
    color: var(--brand-color);
}
.SideHeaderBody
{
    position: relative;
}
.SideHeader .SideHeaderBody p 
{
    margin-top: 15px;
    font-size: 15px;
    color: var(--brand-color);
}
.navButton
{
    border: 2px solid var(--brand-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
}
.cancelDesign
{
    right: 20px;
    top: 0;
}

.viewQuestion
{
    top: 0;
    left: 20px;
    display: none;
    font-size: 15px;
}
.SideBody
{
    margin-top: 30px;
}
.fileUploader , .TitleInput , .DescInput
{
    width: 90%;
    margin: 20px auto 0 auto;
}
.fileFormat 
{
    width: 48%;
    background: var(--text-input-bg-color);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    padding: 2px;
    color: #5360ed77;
}
.fileFormat  input[type=radio]
{
    display: none;
}
.fileFormat input[type=radio] + label {
    display: inline-block;
    padding: 4px 12px;
    width: 70px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}
.fileFormat input[type=radio]:checked + label  { 
    background-color: var(--theme-white);
    height: 20px;
    line-height: 20px;
    color: var(--brand-color);
}
.fileInput , .TitleInput , .DescInput
{
    margin-top: 20px;
    border-radius: var(--theme-radius-size) var(--theme-radius-size);
    box-shadow: 4px 4px 3px var(--input-shadow-color);
}
.inputTitle , .TitleInputOptions
{
    background: var(--input-title-bg-color);
    border-radius: var(--theme-radius-size) var(--theme-radius-size) 0 0;
    padding: 5px;
    text-align: center;
    color: var(--brand-color);
}
.inputUploader 
{
    height: 150px;
    background: var(--text-input-bg-color);
    border-radius: 0 0 var(--theme-radius-size) var(--theme-radius-size);
    text-align: center;
    line-height: 150px;
    font-size: 40px;
    color: var(--theme-Codinto);
}
.inputUploader input 
{
    display: none;
}
.inputUploader label ion-icon
{
    transform: rotate(180deg);
}
.ToggleOption , .Answer-Options
{
    width: 90%;
    margin: 1.5rem auto 1.5rem auto;
}

.TitleTextInput
{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    font-family: IRANSans;
    display: flex;
    align-items: flex-start;
    background-color: var(--text-input-bg-color);
    position: relative;
    resize: none;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    color: var(--brand-color);
    font-size: calc(0.75rem + 0.4vw);
}
.TitleTextInput::placeholder
{
    color: #5360ed79;
}
.GOptions
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0 8px 0;
}
.GOptions label
{
    display: flex;
    cursor: pointer;
}
.GOptions label input 
{
    height: 0;
    opacity: 0;
}
.ShapeOptions
{
    width: 90%;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 11px;
}
.ShapeOptions input 
{
    height: 0;
    opacity: 0;
    display: none;
}
.ShapeOptions label 
{
    cursor: pointer;
}
.bg-transp , .bg-colored 
{
    width: 100%;
    height: 50px;
    transition: 0.3s;
}
.ShapeOptions .bg-colored
{
    background-color: var(--brand-color);
}
.ShapeOptions .bg-transp
{      
    border: 2px solid var(--brand-color);
}
.bg-transp:hover , .bg-colored:hover 
{
    transform: scale(1.1);
}
.GButtonShape .TitleInput 
{
    padding-bottom: 20px;
}
.QuestionContainer
{
    width: calc(15rem + 17vw);
    margin-right: 1.5rem;
    background: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #0000001a;
    padding-bottom: 20px;
}
.QuestionTitle
{
    height: 50px;
    border-radius: 15px 15px 0 0;
    background: #3F52E3;
    width: 100%;
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
}
.QuestionDes
{
    padding: 10px;
    color: #161D6F;
}
.QuestionStart
{
    display: flex;
    justify-content: center;
}
.QuestionStartButton
{
    padding: 8px;
    background: #3F52E3;
    width: 22%;
    border: none;
    color: white;
    border-radius: 40px;
    font-family: 'IRANSANS';
    cursor: pointer;
}
.AnswerPattern
{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px auto 0 auto;
    color: var(--brand-color);
}
.AnswerPattern .PatternChoose
{
    display: flex;
    justify-content: space-between;
}
.AnswerPattern select
{
    width: 60%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #5360ED;
    color: #5360ED;
    outline: none;
    font-family: 'IRANSANS';
    text-align: center;
    cursor: pointer;
}
.LimitInput
{
    margin-top: 20px;
    color: #5360ED;
}
.AnswerAlphabetLimit
{
    width: 90%;
    flex-direction: column;
    display: flex;
    margin: 20px auto 0 auto;
}
.maxInput
{
     margin-top: 10px;
}
.LimitInput input::placeholder
{
    color: var(--input-placeholder-color);
}
.minInput input , .maxInput input , .AnwValidation  input
{
    border-radius: 10px;
    padding: 5px;
    width: 40%;
    color: #5360ED;
    font-size: 20px;
    outline: none;
    margin-right: 20px;
    border: 1px solid #5360ED;
}
.AnwValidation  input
{
    width: 56%;
    text-align: center;
    font-family: IRANSans;
    font-size: calc(0.75rem + 0.4vw);
}
.AnwValidation > div 
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AnwValidation  input::placeholder
{
    color: var(--input-placeholder-color);
}
.Answer-Options
{
    color: var(--brand-color);
}
.Answer-Option
{
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
}
.Answer-Option .anw-option-number
{
    width: 50%;
    color: var(--brand-color);
    background-color: var(--text-input-bg-color);
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.anw-option-label
{
    background-color: var(--input-title-bg-color);
    width: 10%;
    text-align: center;
    border-radius: 10px;
    padding: 4px;
}
.anw-option-tools button {
    color: var(--brand-color);
    background: none;
    font-size: 1.2rem;
    border: 2px solid var(--brand-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.minInput input , .maxInput input 
{
    text-align: center;
    width: 30%;
}
.additional-options-container > div 
{
    color: var(--input-placeholder-color);
}
.range-setter
{
    width: 90%;
    margin: 1.5rem auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.range-setter .range-input
{
    width: 90%;
}
.range-input input[type="range"]
{
    width: 100%;
}
/* .range-input input[type="range"]::-webkit-slider-thumb
{
    -webkit-appearance: none; 
   appearance: none;
   margin-top: -12px; 
   background-color: red;
   height: 2rem;
   width: 1rem;    
} */
.range-setter #markers
{
    width: 100%;
    display: flex;
    writing-mode: vertical-lr;
    flex-direction: column;
    justify-content: space-between;
}
#markers option
{
    height: 13px;
    width: 3px;
    background: var(--input-title-bg-color);
    margin-top: -30px;
}
@media only  screen and (max-width : 650px)
{
    main 
    {
       display : none;
    }
    aside 
    {
        width: 100%;
    }
    .viewQuestion
    {
        display: flex;
    }
}