html
{
    scroll-behavior: smooth;
}
body 
{
    background-color: var(--theme-Page-Graybg);
}
.SettingContainer
{
    margin: 1vw auto 0 auto;
    width: min(100%,500px);
    background-color: var(--theme-white);
    box-shadow: 3px 3px 10px var(--theme-navbar-shadow);
    border-radius: calc(0.3rem + 1vw);
    padding: 25px 0 25px 0;
    overflow: hidden;
}
.SettingContainer form 
{
    width: max(81.5%,90%);
    margin: 30px auto 0 auto;
    font-family: IRANSans;
    color: var(--brand-color);
    font-size: calc(0.80rem + 0.25vw);
}
.error_dialogue
{
    color: red;
    display: none;
}
.form-name #form-name-input
{
    font-family: 'IRANSans';
    font-size: calc(0.88rem + 0.25vw);
    color: var(--theme-Codinto);
    border-radius: 10px;
    border: none;
    background: #F6F7FF;
    width: min(70%,68%);
    height: 30px;
    padding: 2px 5px 0 0;
    outline: none;
    transition: 0.2s;
}
#form-name-input:focus
{
    border: none;
}
#form-name-input.error
{
    border: 1px solid var(--input-error-border-color);
    background: var(--input-error-bg) !important;
}
.form-lan , .form-name
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.form-lan p , .form-name p
{
    font-weight: 600;
}
.datePicker input[type=radio] {
    display: none; 
    margin: 10px;
}
/* .form-lan .options 
{
    width: 73%;
    height: 33px;
    background: #F6F7FF;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    padding: 2px;
}
.form-lan input[type=radio] + label {
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    border-color: #ddd;
    width: 70px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
} */
/* 
.form-lan input[type=radio]:checked + label  { 
    background-color: white;
    height: 20px;
    line-height: 20px;
} */
.form-date 
{
    margin-top: 30px;
    width: 100%;
}
 .DateautoSet , .ResponeTiming
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--deActive-input-text-color);
}
.datePicker 
{
    background-color: var(--deActive-input-title-bg);
    box-shadow: 1px 1px 10px var(--input-shadow-color);
    margin-top: 30px;
    height: 190px;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    color: var(--deActive-input-text-color);
    align-items: center;
    transition: 0.3s;
    pointer-events: none;
}
.datePicker.active  
{
    background-color: var(--text-input-bg-color);
    color: var(--brand-color);
    pointer-events: all;
}
.YearPicker , .MonthPicker , .DayPicker
{
    background: #FFFFFF;
    border-radius: 10px;
    height: 80%;
}
.YearPicker , .MonthPicker
{
    width: 20%;
    overflow-y: scroll;
    font-size: calc(0.9rem + 0.3vw);
}
.YearPicker::-webkit-scrollbar , .MonthPicker::-webkit-scrollbar
{
    width: 0;
}
.datePicker input:disabled + label
{
    color: var(--deActive-input-text-color);
}
.MonthPicker
{
    margin: 0 15px 0 15px;
}
.DayPicker
{
    width: 40%;
    display: grid;
    direction: ltr;
    grid-template-columns: auto auto auto auto auto auto;
}
.datePicker  input[type=radio] + label 
{
    border-radius: 6px;
    width: 90%;
    margin: 0 auto 0 auto;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    padding: 3px 0 3px 0;
    display: flex;
    transition: 0.2s;
}
.MonthPicker input[type=radio] + label 
{
    font-size: calc(0.8rem + 0.25vw);
    margin-top: 10px;
}
.datePicker input[type=radio]:checked + label
{
    background-color: var(--selected-date-bg-color);
}
.datePicker label 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ResponeTiming
{
    flex-direction: column;
    margin-top: 30px;
}
.ResponseAutoSet 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ResponePicker
{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F7FF;
    justify-content: center;
    pointer-events: none;
    color: var(--theme-Codinto);
    transition: 0.3s;
}
.ResponePicker.active 
{
    pointer-events: all;
    color: var(--brand-color);
}
.ResponePicker > div 
{
   display: flex;
   margin: 0 1px 0 1px;
   color: var(--deActive-input-text-color);
   align-items: center;
}
.ResponePicker.active > div
{
    color: var(--brand-color);
} 
.ResponePicker > div input 
{
    width: 70%;
    height: 35px;
    font-size: 22px;
    padding-right: 7px;
    margin: 0 5px 0 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    color: var(--deActive-input-text-color);
}
.ResponePicker > div input::-webkit-inner-spin-button,::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
}
.ResponePicker.active > div input 
{
    color: var(--theme-Codinto);
}
.ProgressBar , .Isolator
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.FormFooter
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-top: 2.6rem;
    width: 100%;
}
.cancel-Form a 
{
    text-decoration: none;
    color: var(--brand-color);
}
.save-Form.operating p
{
    display: none;
}
.save-Form.operating .dot-pulse
{
    display: block;
}
.datePicker.active.error {
    background: var(--date-picker-error-bg);
}
.datePicker.error .YearPicker,.datePicker.error  
.MonthPicker, .datePicker.error
 .DayPicker {
    background: #ff000099;
    color: var(--theme-white);
 }
@media only screen and (max-width : 400px)
{
    .SettingContainer
    {
        border-radius: 0;
    }
}
@media only screen and (max-width: 992px)
{
    .AssistiveButton {
        display: none;
    }
}
