body 
{
    background-color: var(--theme-Page-Graybg);
}

.SettingContainer
{
    margin: 1vw auto 0 auto;
    width: min(100%,500px);
    background-color: var(--theme-white);
    box-shadow: 3px 3px 10px var(--theme-navbar-shadow);
    border-radius: calc(0.3rem + 1vw);
    padding: 25px 0 25px 0;
}
.SettingContainer form 
{
    width: max(81.5%,90%);
    margin: 30px auto 0 auto;
    font-family: IRANSans;
    color: var(--brand-color);
    font-size: calc(0.80rem + 0.25vw);
}
.form-name input 
{
    font-family: 'IRANSans';
    font-size: calc(0.88rem + 0.25vw);
    color: var(--theme-Codinto);
    border-radius: 10px;
    border: none;
    background: #F6F7FF;
    width: min(70%,68%);
    height: 30px;
    padding: 2px 5px 0 0;
    outline: none;
}
.form-lan , .form-name
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.form-lan input[type=radio] , .datePicker input[type=radio] {
    display: none; 
    margin: 10px;
}
.form-lan .options 
{
    width: 73%;
    background: #F6F7FF;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    padding: 2px;
}
.form-lan input[type=radio] + label {
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    border-color: #ddd;
    width: 70px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.form-lan input[type=radio]:checked + label  { 
    background-color: white;
    height: 20px;
    line-height: 20px;
}

.form-date 
{
    margin-top: 30px;
    width: 100%;
}
 .DateautoSet , .ResponeTiming
{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
 /* .autoSet-Switch {
    position: relative;
    display: inline-block;
}

.autoSet-Switch input
 {
    opacity: 0;
    width: 0;
    height: 0;
}
.autoSet-Switch .slider 
    {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 66px;
    height: 33px;
    bottom: 0;
    background-color: #EEF1FF;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 1px 1px 4px var(--toggle-shadow-color);
    }

.form-date .autoSet-Switch .slider:before 
  {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--theme-white);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 1px 1px 4px var(--toggle-shadow-color);
  }
.autoSet-Switch input:checked +  .slider {
    background-color: var(--brand-color);
  }
.autoSet-Switch input:checked +  .slider:before
  {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
  }
.autoSet-Switch .slider
  {
    border-radius: 34px;
  }
.autoSet-Switch .slider:before {
    border-radius: 50%;
  } */
.datePicker 
  {
    background: var(--text-input-bg-color);
    box-shadow: 1px 1px 10px var(--input-shadow-color);
    margin-top: 30px;
    height: 190px;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
.YearPicker , .MonthPicker , .DayPicker
{
    background: #FFFFFF;
    border-radius: 10px;
    height: 80%;
}
.YearPicker , .MonthPicker
{
    width: 20%;
    overflow-y: scroll;
    font-size: calc(0.9rem + 0.4vw);
}
.YearPicker::-webkit-scrollbar , .MonthPicker::-webkit-scrollbar
{
    width: 0;
}
.MonthPicker
{
    margin: 0 15px 0 15px;
}
.DayPicker
{
    width: 40%;
    display: grid;
    direction: ltr;
    grid-template-columns: auto auto auto auto auto auto;
}
.datePicker  input[type=radio] + label 
{
    border-radius: 6px;
    width: 90%;
    margin: 0 auto 0 auto;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}
.MonthPicker input[type=radio] + label 
{
    font-size: calc(0.8rem + 0.25vw);
    margin-top: 10px;
}
.datePicker input[type=radio]:checked + label
{
    background-color: var(--selected-date-bg-color);
}
.ResponeTiming
{
    flex-direction: column;
    margin-top: 30px;
}
.ResponseAutoSet 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ResponePicker
{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F7FF;
    justify-content: center;
    color: var(--theme-Codinto);
}
.ResponePicker > div 
{
   display: flex;
   margin: 0 1px 0 1px;
   color: var(--brand-color);
   align-items: center;
}
.ResponePicker > div input 
{
    width: 70%;
    height: 35px;
    font-size: 22px;
    padding-right: 7px;
    margin: 0 5px 0 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--theme-Codinto);
}
.ProgressBar , .Isolator
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
@media only screen and (max-width : 400px)
{
    .SettingContainer
    {
        border-radius: 0;
    }

}
