<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>طیفی</title>
    <link rel="stylesheet" href="/Assets/Styles/DefaultStyles.css">
    <link rel="stylesheet" href="/Assets/Styles/QdesignCommonStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section>
        <aside>
            <div class="SideHeader">
               <div class="SideHeaderTitle">
                   <h3>کدینتو لاین</h3>
                   
               </div>
               <div class="SideHeaderBody">
                <button class="cancelDesign navButton">
                    <i class="fa fa-close"></i>
                </button>
                  <p class="quetion-type">متنی بدون پاسخ</p>
                   <button class="viewQuestion navButton">
                      <i class="fa fa-eye"></i>
                   </button>
               </div>
            </div>
            <div class="SideBody">
               <div class="GTitle">
                   <div class="TitleSetter ToggleOption">
                    <div class="Switch-Container">
                        <p>عنوان</p>
                    <label class="Switch-toggle">
                        <input type="checkbox">
                        <span class="slider-button"</span>
                    </label>
                    </div>
                   </div>
                   <div class="TitleInput">
                       <div class="TitleInputOptions  GOptions">
                           <label>
                               <input type="checkbox" name="" id="Textbolder">
                               <i class="fa fa-bold"></i>
                           </label>
                           <label>
                           <input type="checkbox" name="" id="TextItalic">
                           <i class="fa fa-italic"></i>
                           </label>
                           <label>
                           <input type="checkbox" name="" id="TextUnderline">
                           <i class="fa fa-underline"></i>
                           </label>
                           <label>
                               <input type="checkbox" name="" >
                               <i class="fa fa-link"></i>
                           </label>
                       </div>
                       <div class="TextField">
                           <textarea class="TitleTextInput" cols="10" rows="6" placeholder="سلام و عرض ادب خدمت همه ی همراهان کدینتولاین" ></textarea>
                           <!-- <input type="text" name="" id="" placeholder="سلام و عرض ادب خدمت همه ی همراهان کدینتولاین"> -->
                       </div>
                   </div>
               </div>
               <div class="GDesc">
                   <div class="DescSetter ToggleOption">
                    <div class="Switch-Container">
                        <p>توضیحات</p>
                    <label class="Switch-toggle">
                        <input type="checkbox">
                        <span class="slider-button"</span>
                    </label>
                    </div>
                   </div>
                   <div class="DescInput">
                    <div class="TitleInputOptions  GOptions">
                        <label>
                            <input type="checkbox" name="" id="Textbolder">
                            <i class="fa fa-bold"></i>
                        </label>
                        <label>
                        <input type="checkbox" name="" id="TextItalic">
                        <i class="fa fa-italic"></i>
                        </label>
                        <label>
                        <input type="checkbox" name="" id="TextUnderline">
                        <i class="fa fa-underline"></i>
                        </label>
                        <label>
                            <input type="checkbox" name="" >
                            <i class="fa fa-link"></i>
                        </label>
                    </div>
                       <div class="TextField">
                           <textarea class="TitleTextInput" cols="10" rows="9" placeholder="توضیح خود را بنویسید"></textarea>
                           <!-- <input type="text" name="" id="" placeholder="سلام و عرض ادب خدمت همه ی همراهان کدینتولاین"> -->
                       </div>
                   </div>
               </div>
                <div class="range-setter">
                    <div class="range-number">
                        <label class="range-label">
                            1
                        </label>
                    </div>
                    <div class="range-input">
                        <input type="range" step="10" list="range-markers">
                        <datalist id="markers">
                            <option value="0"></option>
                            <option value="25"></option>
                            <option value="50"></option>
                            <option value="75"></option>
                            <option value="100"></option>
                          </datalist>
                    </div>
                </div>
               <div class="fileUploader">
                   <div class="fileFormat">
                       <input type="radio" name="lang" id="Picture" value="Picture" checked>
                       <label for="Picture">عکس</label>
                       
                       <input type="radio" name="lang" id="Video" value="Video">
                       <label for="Video">ویدیو</label>
       
                   </div>
                   <div class="fileInput">
                       <div class="inputTitle">
                           حداکثر حجم 3 مگابایت
                       </div>

                       <div class="inputUploader">
                           <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                           <label for="file">
                               <i class="fa fa-upload"></i>
                               </label>
                         </div>
                         
                   </div>
               </div>
               
            </div>
            <div class="SideFooter">
                <button class="saveQ">
                     ذخیره
                </button>
                <button class="cancelQ">
                     انصراف
                </button>
             </div>
       </aside>
        <main>
             <div class="QuestionContainer">
                <div class="QuestionTitle">
                    <p>سلام و عرض ادب خدمت همه ی همراهان کدینتولاین</p>
                </div>
                <div class="QuestionDes">
                  
                </div>
                <div class="QuestionStart">
                   <button class="QuestionStartButton">
                      شروع
                   </button>
                </div>
             </div>
        </main>
        
    </section>
</body>
</html>